@using ApartmentManagementSystem.MVC.Areas.User.Models
@await Component.InvokeAsync("NToastNotify")
@model ContactModel
@{
    ViewData["Title"] = "Mesaj Gönder";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sayfanın kullanacağı layout'u belirtin
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim Sayfası</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="contact-container">
        <div class="box has-background-white-bis has-text-centered p-6 form-container">
            <h1 class="title is-size-2">İletişim</h1>
            <form method="post" asp-action="Contact" asp-controller="Home" asp-area="User">
                <!-- Diğer form alanları buraya gelecek -->
                <div class="field">
                    <label class="label">Mesajınız</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Mesajınız" asp-for="Message"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
