@model ContactModel
@{
    ViewData["Title"] = "Mesaj Gönder";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sayfanın kullanacağı layout'u belirtin
}

<div class="contact-container">
    <div class="box has-background-white-bis has-text-centered p-6 form-container">
        <h1 class="title is-size-2">Mesaj Gönder</h1>
        <form method="post" asp-action="Contact" asp-controller="User" asp-area="User">
            <!-- Diğer form alanları buraya gelecek -->
            <div class="field">
                <label class="label">Mesajınız</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Mesajınız" asp-for="Message"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>
