@await Component.InvokeAsync("NToastNotify")
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apartman Yönetim Sistemine hoş geldiniz</h1>
</div>
